<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Freemarker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
     <div class="control-group">
      <h2 class="muted">File</h2>

</div>
<div>

<form method="POST" enctype="multipart/form-data" action="/file/upload">
    <table>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file" class="btn"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Upload" class="btn btn-primary"/></td>
        </tr>
    </table>
</form>
</div>
</div>
</body>
</html>